---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Amy Boardman Art">
	<main class="h-screen flex flex-col justify-center align-center items-center font-primary font-normal">
		<img src="../../public/images/logo.png" alt="Logo" class="h-40 w-40 pb-4">
		<h1 class="text-5xl font-logo pb-4">Amy Boardman Art</h1>
		<h2 class="text-8xl font-semibold pb-4">Coming Soon</h2>
		<p class="text-2xl pb-2">Contact Me:</p>
		<a href="mailto:amyboardmanart@gmail.com" class="text-2xl pb-4">amyboardmanart@gmail.com</a>
		<div class="flex gap-x-4">
			<i class="fa-brands fa-etsy text-4xl"></i>
			<i class="fa-brands fa-instagram text-4xl"></i>
		</div>
	</main>
</Layout>