---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Amy Boardman Art">
	<main class="h-screen flex flex-col justify-center align-center items-center">
		<h1 class="text-5xl font-logo">Amy Boardman Art</h1>
		<img src="../../public/images/logo.png" alt="Logo" class="h-52 w-52">
		<h2 class="text-8xl">Coming Soon</h2>
		<p class="text-3xl">Contact Me:</p>
		<a href="mailto:amyboardmanart@gmail.com" class="text-3xl">amyboardmanart@gmail.com</a>
	</main>
</Layout>